/* GLOBAL */

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', 'Helveltica', sans-serif;
}

a {
    text-decoration: none;
}

main {
    flex-grow: 1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hide {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transformY-center {
    top: 50%;
    transform: translateY(-50%);
}

/* NAVBAR */

.navbar {
    display: flex;
    height: 48px;
}

/* mobile items */

.hamburger-menu {
    padding: 12px 16px;
}

.mobile-items--link {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    line-height: 48px;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
}

.mobile-items--link-first {
    color: #4285f4;
    border-bottom: 2px solid rgb(66, 133, 244);
}

.mobile-items--link-second {
    color: rgb(112, 117, 122);
}

/* common items */

.common-items {
    margin-left: auto;
    padding-right: 16px;
}

.common-items--link {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

.common-items--link:nth-child(2) {
    padding-left: 15px;
}

.grid-menu {
    border-radius: 40px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.grid-menu--icon {
    color: rgb(95, 99, 104);
    fill: currentColor;
    width: 24px;
}

.signIn-button {
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color: #fff;
    font-family: 'Helveltica', 'Arial', 'Roboto',  sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 34px;
    width: 48px;
}

/* SEARCH SECTION */

.search {
    box-sizing: border-box;
    flex-direction: column;
    height: 50vh;
    padding-top: 80px;
}

.google-logo {
    width: 160px;
}

.search-icon {
    position: absolute;
    left: 10px;
}

.mic-icon {
    position: absolute;
    right: 10px;
}

.searchBar-container {
    position: relative;
    width: 95%;
    max-width: 580px;
}

.searchBar {
    border: 1px solid rgb(224, 226, 230);
    border-radius: 40px;
    color: rgba(0, 0, 0, .87);
    min-height: 45px;
    min-width: 200px;
    max-width: 600px;
    outline: none;
    padding-left: 45px;
    padding-right: 65px;
    width: 100%;
}

.searchBar::-webkit-search-cancel-button {
    display: none;
}

.clear-input {
    position: absolute;
    right: 35px;
    width: 24px;
}

.search-button-container {
    display: none;
    height: 70px;
    padding-top: 18px;
}

.search-button {
    background-color: rgb(249, 250, 251);
    border: none;
    border-radius: 4px;
    color: rgb(60, 64, 68);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-button:nth-child(2) {
    margin-left: 15px;
}

/* FOOTER */

.footer {
    background-color: rgb(242, 242, 242);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-location {
    color: rgb(112, 117, 122);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(218, 220, 224);
    margin: 0;
}

.footer-link-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.footer-link-container--first {
    margin-bottom: 20px;
    padding-top: 20px;
}

.footer-link {
    color: rgb(112, 117, 122);
    margin-right: 5px;
}

/* MEDIA */

@media(min-width: 425px) {
    .search-button-container {
        display: initial;
    }
}

@media(min-width: 1024px) {
    .navbar {
        padding-top: 5px;
    }
    .hide-md {
        display: none;
    }
    .show-md {
        display: initial;
    }
    .grid-menu {
        margin-left: 8px;
        margin-right: 8px;
    }
    .grid-menu:hover {
        background-color: rgba(60, 64, 67, 0.08);
    }
    .signIn-button {
        height: 36px;
        width: 75px;
    }
    .signIn-button:hover {
        background-color: rgba(26, 115, 232, 0.904);
        box-shadow: 0px 1px 5px -1px rgba(26, 115, 232, 0.5);
    }
    .common-items--link:hover {
        text-decoration: underline;
    }
    .search {
        padding-top: 0;
    }
    .google-logo {
        width: 272px;
    }
    .searchBar:hover {
        box-shadow:0px 1px 6px 0px rgba(32, 33, 36, 0.3);
    }
    .search-button:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid rgb(218, 220, 224);
    }
    .search-button:focus {
        border: 1px solid #4d90fe;
        outline: none;
    }
    .wrapper {
        display: flex;
    }
    .footer-location {
        padding-left: 34px;
    }
    .footer-link-container {
        margin: 0;
        max-width: 350px;
    }
    .footer-link-container--first {
        padding-left: 34px;
        margin-bottom: 0;
    }
    .footer-link-container--second {
        margin-left: auto;
        padding-top: 20px;
    }
    .footer-link {
        margin-right: 30px;
    }
    .footer-link:hover {
        color: #3c4043;
        cursor: pointer;
        text-decoration: underline;
    }
}