/* GLOBAL */

body {
    font-family: 'Roboto', 'Helveltica', sans-serif;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* NAVBAR */

.navbar {
    display: flex;
    height: 48px;
}

/* MOBILE ITEMS */

.mobile-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    padding: 12px 16px;
}

.mobile-items--link {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    line-height: 48px;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
}

.mobile-items--link-first {
    color: #4285f4;
    border-bottom: 2px solid rgb(66, 133, 244);
}

.mobile-items--link-second {
    color: rgb(112, 117, 122);
}

/* COMMON ITEMS */

.common-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 16px;
}

.common-items--link {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

.common-items--link:nth-child(2) {
    padding-left: 15px;
}

.grid-menu {
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.grid-menu--icon {
    color: rgb(95, 99, 104);
    fill: currentColor;
    width: 24px;
}

.signIn-button {
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 34px;
    width: 48px;
}

/* MEDIA */

@media(min-width: 1024px) {
    .hide-md {
        display: none;
    }
    .show-md {
        display: initial;
    }
    .grid-menu {
        margin-left: 8px;
        margin-right: 8px;
    }
    .grid-menu:hover {
        background-color: rgba(60, 64, 67, 0.08);
    }
    .signIn-button {
        width: 66px;
    }
    .signIn-button:hover {
        background-color: rgba(26, 115, 232, 0.822);
    }
}